<html>
<body>
<h1>Brushing data submission</h1>
<span>Please submit the csv files for the raw_data and the groups. At least one for each</span>
<form action="/brushings/submit/" enctype="multipart/form-data" method="post">
    <input name="files" type="file" multiple>
    <input type="submit">
</form>
<input id="date_input"  value="2017-09-19" type="date">
<button id="redirect_to_data" class="float-left submit-button" >Go to data</button>
<input id="user_id_input" value="PB2500035373" type="text">
<button id="redirect_to_userdata" class="float-left submit-button" >Go to user data</button>
</body>
<script type="text/javascript">
    document.getElementById("redirect_to_data").onclick = function () {
        location.href = "/brushing/data/"+document.getElementById("date_input").value;
    };
        document.getElementById("redirect_to_userdata").onclick = function () {
        location.href = "/brushing/user/"+ document.getElementById("user_id_input").value
            + "/" + document.getElementById("date_input").value;
    };
</script>
</html>
