<html>
<body>
<h1>Brushing data</h1>
<table>
    <tr>
        <th>group</th>
        <th>PBID</th>
        <th>mon</th>
        <th>tue</th>
        <th>wed</th>
        <th>thu</th>
        <th>fri</th>
        <th>sat</th>
        <th>sun</th>
        <th>total-brushes</th>
        <th>twice-brushes</th>
        <th>avg-brush-time</th>
    </tr>
    {% for group, users in user_data.items() %}
        {% for user in users %}
            <tr>
                <td>{{ group }}</td>
                <td>{{ user.playbrush_id }}</td>
                <td>{{ user.n_day_sessions(week[0]) }}</td>
                <td>{{ user.n_day_sessions(week[1]) }}</td>
                <td>{{ user.n_day_sessions(week[2]) }}</td>
                <td>{{ user.n_day_sessions(week[3]) }}</td>
                <td>{{ user.n_day_sessions(week[4]) }}</td>
                <td>{{ user.n_day_sessions(week[5]) }}</td>
                <td>{{ user.n_day_sessions(week[6]) }}</td>
                <td>{{ user.total_brushes }}</td>
                <td>{{ user.total_twice_brushes }}</td>
                <td>{{ user.average_brushing_time }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>